:root {
  --c-brand: #4d5ae5;
  --c-background-hero: #2e2f42;
  --c-background-secondary: #f4f4fd;
  --c-text: #434455;
  --c-hover: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--c-text);
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*header*/

.logo {
  color: var(--c-brand);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo .accent-logo {
  color: var(--c-background-hero);
}

.logo:hover,
.logo:focus {
  color: var(--c-hover);
  cursor: pointer;
}

.header-link {
  color: var(--c-background-hero);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--c-hover);
  cursor: pointer;
}

.address {
  font-style: normal;
}
.contacts-link {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--c-text);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--c-hover);
  cursor: pointer;
}

/*hero section*/
.hero-section {
  background-color: var(--c-background-hero);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.button-hero {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--c-brand);
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--c-hover);
  cursor: pointer;
}

/*Benefits section*/

.benefits-subtitle {
  color: var(--c-background-hero);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.benefits-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*Our Team section*/
.team-section {
  background-color: var(--c-background-secondary);
}

.team-title {
  color: var(--c-background-hero);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.team-li {
  background-color: #fff;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--c-background-hero);
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*Portfolio section*/

.portfolio-title {
  color: var(--c-background-hero);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-name {
  color: var(--c-background-hero);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*footer*/
.footer {
  background-color: var(--c-background-hero);
}

.footer-logo {
  color: var(--c-brand);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-logo .accent-footer {
  color: var(--c-background-secondary);
}

.footer-logo:hover {
  color: var(--c-hover);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--c-background-secondary);
}
